.iphone_width{width:400px;}
.feature-text{text-align:center;}
.pcompany{font-size:20px;line-height:28px;margin-bottom:38px;}
.price_ch{font-size:11px;line-height:15px;}
.f-icon img{margin-bottom:4px;}
.none{display:none;}
.block{display:block;}
.main_title{font-size:58px;}
#plan .price-table{max-width:100%;}
#main-nav .logo{padding-top:7.25px;}
#main-nav .logo img{width:150px;}
.main_title .font-small{font-size:20px;}
#subscribe .font-small{font-size:20px;}
.socials{text-align:right;}
.btns-container{margin-top:25px;}
#ready-to-buy form{margin-bottom:10px;}
#subscribe .promise{font-size:12px;letter-spacing:0.1em;margin-top:10px;text-transform:uppercase;font-weight:700;margin-bottom:0;}
h4{font-size:25px;}
#features .feature{padding:0px 0px;}
#customers .carousel-indicators li{width:24%;padding-left:30px;padding-right:30px;}

@media only screen and (max-width:992px){h2{font-size:42px;}
	h4{font-size:21px;}
	.feature-text{font-size:13px;}
	.none{display:none;}
	#iphone-feature .iphone-showcase{padding:0;}
	#customers .carousel-indicators li{width:24%;padding-left:5px;padding-right:5px;}
	#plan #price_tables .individual.active, #plan #price_tables .company.active {margin-top: 125px; padding-top:16px;}
}
@media only screen and (max-width:768px){.images-showcase-swiper{display:inline-block;}
	.socials{text-align:left;}
	#header{height:100%;}
	#features{height:100%;padding-top:10%;padding-bottom:10%;}
	#iphone-feature{height:100%;padding-top:10%;padding-bottom:10%;}
	#map-feature{height:100%;padding-top:12%;padding-bottom:10%;}
	#iphone-screens{height:100%;padding-top:10%;padding-bottom:430px}
	#plan{height:100%;padding-top:10%;padding-bottom:10%;}
}
@media only screen and (max-width:575px){h2{font-size:35px;text-align:center;}
	p{text-align:center;font-size:14px;}
	.block{display:block;}
	.none{display:block;}
	.btns-container{text-align:center;}
	.socials{text-align:center;}
	#footer .logo{margin-left:36%;}
	#plan .toggle-container{margin-left:16%;}
	#header .header_iphone{bottom:-252px;margin-left:-150px;width:300px;}
	.main_title{font-size:26px;line-height:68px;margin-bottom:30px;}
	#header p{font-size:15px;}
	.socials{text-align:center;}
}
@media only screen and (max-width:375px){h2{font-size:31px;text-align:center;}
	p{text-align:center;font-size:14px;}
	.block{display:block;}
	.none{display:block;}
	.btns-container{text-align:center;}
	.socials{text-align:center;}
	#subscribe .font-small{font-size:18px;}
	#footer .logo{margin-left:34%;}
	#plan .toggle-container{margin-left:12%;}
	.main_title{font-size:24px;line-height:56px;margin-bottom:30px;}
	#header p{font-size:14px;}
	#customers .carousel-indicators li{width:20%;padding-left:5px;padding-right:5px;}
	#header .header_mac{position:absolute;bottom:90px;left:50%;margin-left:-150px;width:300px;}
}
@media only screen and (max-width:320px){h2{font-size:27px;}
	p{font-size:12px;}
	#footer .logo{margin-left:31%;}
	#subscribe .font-small{font-size:16px;}
	#plan .toggle-container{margin-left:5%;}
	.price_ch{font-size:7px;line-height:15px;}
	.main_title{font-size:25px;line-height:50px;margin-bottom:20px;}
	#header p{font-size:15px;}
	#header .header_mac{position:absolute;bottom:90px;left:50%;margin-left:-125px;width:250px;}
	}
	#customers .carousel-indicators li:first-child{float:none;}
	#customers .carousel-indicators li:last-child{float:none;}
	#customers .carousel-indicators li img{text-align:center;}
	#header.one-page{padding-bottom:150px;}
	.input-submit-btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;color:#fff;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;background-color:#3c8dbc;border-color:#367fa9;}
	.input-submit-btn:hover,
	.input-submit-btn:active
	.input-submit-btn.hover{background-color:#367fa9;}
	.input-form-box{padding-left:10%;padding-right:10%;padding-top:30px;padding-bottom:30px;max-width:555px;margin:0 auto;border-radius:10px;background:rgba(255, 255, 255, 0.9);}
	.form-group.form-custom input{border-radius:2px;}
	.form-group.form-custom textarea{border-radius:2px;}
	input.form-control{padding-right:14px;}
	textarea.form-control{padding-right:14px;padding-left:14px;font-size:13px;background:transparent;}
	.form-control:focus{box-shadow:none;}
	.help-block.with-errors{text-align:left;font-size:12px;padding-left:10px;}
	.sl-contents{text-align:left;color:#666;}
	.sl-contents h2{font-size:18px;color:#3c3c3c;line-height:26px;margin:5px;padding-left:10px;}
	.sl-contents hr{margin:15px 0;border:0;height:0;border-top:1px solid rgba(0,0,0,.1);border-bottom:1px solid rgba(255,255,255,.3);}
	.sl-country-icon{margin-bottom:10px;}
	.sl-country-icon img{margin:5px;}
	.input-title{text-align:left;font-size:14px;color:#666;margin-bottom:6px;}
	.input-submit-btn.go-join{padding:10px 15px 10px 15px;background-color:#9FC93C;border-color:#7BA518;}
	.modal-content{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:0;text-align:left;}
	.modal-header{padding:15px 15px 5px 15px;background:#fff;border:0;border-bottom:1px solid #ddd;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
	.modal-header .close{font-size:36px;color:#888;font-weight:300;text-shadow:none;opacity:1;}
	.modal-title{margin-bottom:10px;line-height:30px;}
	.modal-body{padding:25px 25px 30px 25px;background:#eee;text-align:left;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
	.modal-body img{margin-bottom:15px;}
	.modal-body form textarea{height:100px;}
	.modal-body form .input-error{border-color:#fd625e;}
	.fpink{color:#164A68;}
	.thanks-sub{font-size:12px;}
	.contact-us-radio{text-align:right}.radio-item{display:inline-block;position:relative;padding:0 6px;margin:10px 0 0}.radio-item input[type=radio]{display:none}.radio-item label{color:#666;font-weight:400}.radio-item label:before{content:" ";display:inline-block;position:relative;top:5px;margin:0 5px 0 0;width:20px;height:20px;border-radius:11px;border:2px solid #00abe7;background-color:transparent}.radio-item input[type=radio]:checked+label:after{border-radius:11px;width:12px;height:12px;position:absolute;top:9px;left:10px;content:" ";display:block;background:#00abe7}
	.font-red{color:red;}

@media only screen and (max-width: 1200px) {
  #menu-left-side {display: none;}
  #menu-right-side {display: none;}

}

#slide_out_menu {z-index:16;}
#header .carousel-indicators{z-index:9;}

